<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-bottom">
  <!-- <div class="navbar-header">
    <a class="navbar-brand" href="/#/"><i class="fa fa-diamond"></i></i>  Diamond n' Ruff  <i class="fa fa-paw"></i></a>
  </div> -->

  <ul class="nav navbar-nav text-center">
    <li><a href="/#/"></i> Fetch A Local Sitter</a></li>
    <!-- <li><a href="/#/sitters"> Sitters</a></li> -->
  </ul>
>
</div>


<footer class="footer">
      <div class="container">
        <p> Fetch A Local Sitter</p>
      </div>
</footer>
