<div class="container homeMap">
  <div ng-controller="ProfileController" class="panel panel-default">
    <div class="panel-heading">Hosts<span id="greeting">{{user.displayName}}</span></div>
    <div class="panel-body">
      <div class="row" ng-controller="ProfileController">
        <div class="col-sm-7">
          <div id="map_canvas">
            <div >
            <script type="text/ng-template" id="searchbox.tpl.html">
            <input class="mapSearchBox" type="text" placeholder="Search Box">
              </script>
               <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                 <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="BOTTOM_CENTER"></ui-gmap-search-box>
                   <ui-gmap-marker coords="user.sitterLocation.coords" idkey="user._id" ng-repeat="user in users" markerlabel="user.displayName">
                   </ui-gmap-marker>
               </ui-gmap-google-map>
            </div>
          </div>
        </div>

          <div class="col-sm-5 sitters">
            <!-- <input type="text" name="name" value="" placeholder="Keyword..." class="filterSearch" ng-model="searchFilter"> -->
            <div class="sitterSidebar">
              <h3>Name:<strong>{{user.sitterName}}</strong></h3>
              <ul>
                <li class="sitterPhone">Phone: {{phone}}</li>
                <li class="sitterLocation">Location:{{user.userLocation.address}}</li>
                <li class="sitterAvailability">Availability:{{user.availability}}</li>
                <li class="sitterRates">Rate:{{user.rate}}</li>
              </ul>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>
