html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.navbar {
  border: 0;
  border-bottom: 2px solid #2F535A;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); }

.navbar-header {
  float: left;
  padding-left: 15px; }

.navbar-nav {
  float: left;
  margin: 0; }

.navbar-nav > li {
  float: left; }

.navbar-default {
  background: #76A5C4;
  width: 100%;
  position: fixed;
  top: 0; }

.navbar-default .navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #76A5C4;
  border-radius: 20%; }
  .navbar-default .navbar-brand img {
    background: white;
    border-radius: 100%;
    border: 1px solid #2F535A;
    width: 50px;
    height: 50px; }

.navbar-default .navbar-brand:hover {
  color: #f3ffbd; }

.navbar-default .navbar-nav > li > a {
  color: #2F535A; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #f3ffbd; }

.navbar-brand {
  margin-left: -15px;
  -webkit-transition: 0.25s all;
          transition: 0.25s all;
  min-width: 300px; }

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

body {
  background-size: cover;
  background-color: #DFECE6;
  font-size: 2em;
  z-index: -1; }

.headerFiller {
  height: 50px; }

.angular-google-map-container {
  height: 520px;
  background-color: #76A5C4;
  border-radius: 3%; }

.sitterSidebar {
  clear: right;
  background-color: white;
  /*background-color: #f4f1bb;
  background: -webkit-linear-gradient(left, #f4f1bb, #f4f1bb);
  background: linear-gradient(to right, #f4f1bb, #f4f1bb);*/
  border-radius: 6px 90px 0px 60px;
  -moz-border-radius: 6px 90px 0px 60px;
  -webkit-border-radius: 6px 90px 0px 60px;
  /*background: -webkit-radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../images/innerDiamond.png");
  background: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../images/innerDiamond.png");*/
  background-size: cover; }

.outerHomeAside {
  height: 690px;
  clear: right;
  overflow-y: scroll;
  border-radius: 40px; }

.homePageContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 620px;
  margin-top: 2.5%; }

.panel-default h2 {
  width: 100%;
  text-align: center;
  color: #2F535A;
  border-bottom: 2px solid #2F535A; }

.homeSitterInformation {
  border-radius: 10px;
  height: 520px;
  opacity: .7;
  overflow: scroll; }
  .homeSitterInformation .sitterWrapper {
    border-radius: 2px; }
    .homeSitterInformation .sitterWrapper img {
      width: 30px;
      height: 30px; }
  .homeSitterInformation ul {
    padding: 0;
    width: 100%; }
  .homeSitterInformation ul li {
    list-style-type: none;
    text-align: center;
    color: #0e2547;
    padding: 0;
    margin: 0; }

.homePageLeft {
  display: block;
  height: 692px;
  background: url("../images/dog_flowers_left.png"); }

.homePageRight {
  display: block;
  height: 692px;
  background: url("../images/dog_flowers_right.png");
  background-size: cover; }

.eachSitterListed {
  border-radius: 3%; }
  .eachSitterListed h3 {
    color: #093a85; }

.logInContainer {
  width: 45%;
  background-color: #E6EAEC;
  margin-top: 100px;
  border-radius: 3%;
  border-color: rgba(207, 217, 215, 0.3);
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2); }

.btn-success {
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #4281a4; }

a {
  color: #2F535A; }
  a:hover {
    color: #f3ffbd; }

.text-muted {
  color: #2F535A; }

.container-fluid {
  padding: 0; }

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
  border: none;
  color: #2F535A;
  font-weight: bold; }

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #2F535A;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
  border: none; }

.accordion {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.panel-body {
  padding: 0; }

.panel-heading {
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
  border-color: #76A5C4;
  background-color: #2F535A;
  color: #76A5C4; }

.form-control {
  border-radius: 0; }

.center-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.center-form {
  margin: 2.5% auto; }

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none; }

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0; }

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff; }

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555; }

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px; }

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px; }

[class^='ion-'] {
  font-size: 1.2em; }

.has-feedback .form-control {
  padding-left: 42.5px; }

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.profile-picture {
  height: 100px;
  display: block; }

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: #f3ffbd;
  border: 1px solid #2F535A; }

.btn-primary {
  background-color: #f3ffbd;
  color: #76A5C4;
  border: 1px solid #2F535A; }

.btn-primary:hover {
  background-color: #247ba0; }

.btn-success {
  background-color: #f3ffbd;
  color: #76A5C4;
  border: 1px solid #2F535A; }

.btn-success:hover {
  background-color: #2F535A;
  -webkit-transition: ease .25s;
          transition: ease .25s;
  border: 1px solid #f3ffbd; }

.btn-danger {
  background-color: #db4437; }

.btn-danger:hover {
  background-color: #b04c3b; }

.btn-group-vertical .btn {
  margin-bottom: 10px; }

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px; }

.btn-lg {
  font-size: 14px; }

.btn [class^='ion-'] {
  margin-right: 5px; }

.btn .fa {
  margin-right: 5px; }

/*********************
* Social Buttons
*********************/
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331; }

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190; }

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786; }

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae; }

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4; }

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb; }

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7; }

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a; }

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752; }

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b; }

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030; }

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75; }

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030; }

.btn-live {
  color: #fff;
  background-color: #2672ec; }

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd; }

.signUpPanel {
  background-color: rgba(255, 255, 255, 0.8); }

/*********************
* Animations
*********************/
.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.2, 0.2s;
          animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
          animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
          animation: fadeOutDown 0.2s; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
.userProfileForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.form-group {
  width: 100%; }

.userImageContainer {
  width: 30%; }

.activateButtons {
  float: right;
  margin: 2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .activateButtons button {
    margin-left: 1%;
    margin-right: 1%;
    width: 75%; }
