$color1: #ed6a5a;
$color2: #f4f1bb;
$color3: #9bc1bc;
$color4: #5ca4a9;
$color5: #e6ebe0;
$color6: #5bc0eb;
$color7: #fde74c;
$color8: #9bc53d;
$color9: #e55934;
$color10: #fa7921;
$color11: #247ba0;
$color12: #70c1b3;
$color13: #b2dbbf;
$color14: #f3ffbd;
$color15: #ff1654;
$color16: #fe938c;
$color17: #e6b89c;
$color18: #ead2ac;
$color19: #9cafb7;
$color20: #4281a4;


//rgba(237, 106, 90, 100)
//rgba(244, 241, 187, 100)
//rgba(155, 193, 188, 100)
//rgba(92, 164, 169, 100)
//rgba(230, 235, 224, 100)
//rgba(91, 192, 235, 100)
//rgba(253, 231, 76, 100)
//rgba(155, 197, 61, 100)
//rgba(229, 89, 52, 100)
//rgba(250, 121, 33, 100)
//rgba(36, 123, 160, 100)
//rgba(112, 193, 179, 100)
//rgba(178, 219, 191, 100)
//rgba(243, 255, 189, 100)
//rgba(255, 22, 84, 100)
//rgba(254, 147, 140, 100)
//rgba(230, 184, 156, 100)
//rgba(234, 210, 172, 100)
//rgba(156, 175, 183, 100)
//rgba(66, 129, 164, 100)
