<div id="map_canvas">
  <div ng-app="main">
     <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
         <ui-gmap-marker ng-controller="ReviewModal" ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="m.options" lebelContent="m.title" ng-click="open('lg')"></ui-gmap-marker>
     </ui-gmap-google-map>
  </div>
</div>
  <!-- <div class="angular-google-map-container">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </div> -->
  <!-- <ui-gmap-google-map id="map-container" center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->

<!-- <ui-gmap-google-map center='{ latitude: 45, longitude: -73 }' zoom='zoom: 8'></ui-gmap-google-map> -->
  <!-- <div ng-app="mapsApp" ng-controller="MapCtrl">
      <div id="map"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
           <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>
  </div> -->

<!-- ///////// -->

  <!-- <div ng-controller="MarkerCreatorService">
    <h1>ANGULARJS / GOOGLE MAPS EXAMPLE</h1>
    <div class="map_container" >
        <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
            <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
            </markers>
        </google-map>
    </div>
    <div class="controls">
        <h3>Current location</h3>
        <p>
            <button ng-click="addCurrentLocation()">Current location</button>
        </p>
        <h3>Address search</h3>
        <p>
            <input type="text" placeholder="Address. i.e: Concha Espina 1, Madrid" ng-model="address" style="width: 210px"/>
            <button ng-click="addAddress()">Look up!</button>
        </p>
        <p>
            <a href="http://kcy.me/1bbra" target="_blank">Source Code</a>
        </p>
    </div>
  </div> -->
