<section class="container">
  <div class="app/myReviews/
-fluid">
    <div class="sitterListWrapper" ng-repeat="sitter in sitters" data-id="{{sitter._id}}">
      <aside class="sitterImage">
        <img src="{{sitter.sitterImage}}" class="sitterImage">
      </aside>
      <aside class="sitterInfo">
        <h1 class="sitterTitle">{{sitter.sitterName}}</h1>
        <h4 class="description">{{sitter.sitterDescription}}</h4>
        <h4 class="sitterLocation">{{sitter.sitterLocation.address}}</h4>
        <h4 class="sitterTime">{{sitter.sitterTime}}</h4>
        <div class="sitterReviews">
        <div class="reviewStars">{{review.sitterReview}}</div>
        <div class="reviewTitle">{{review.reviewTitle}}</div>

        </div>
      </aside>
    </div>
  </div>
</section>
