<div class="profile-wrapper">
  <div class="container profile-container" ng-if="user.sitter === true">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="convertAddressToCoords()">Location</div>
      <div class="panel-body">
        <legend class="profileLegend"><i class="ion-clipboard"></i> Edit Sitter Location</legend>
        <form method="post" ng-submit="updateProfile()">

          <div class="form-group">
            <label class="control-label"> Location</label>
            <input type="text" class="form-control" ng-model="user.sitterLocation.address" />
          </div>
          <div class="form-group">
            <label class="control-label"></i> Availability</label>
            <input type="text" class="form-control" ng-model="user.availability" />
          </div>
          <div class="form-group">
            <label class="control-label"></i> Rate</label>
            <input type="text" class="form-control" ng-model="user.rate" />
          </div>
          <div class="form-group">
          </div>
          <button class="btn btn-lg btn-success">Update Information</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container profile-container" ng-if="user.sitter === true">
    <div class="panel panel-default">
      <div class="panel-heading">Sitter</div>
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Edit Sitter Info</legend>
        <form method="post" ng-submit="updateProfile()">

          <div class="form-group userImageContainer">
            <label class="control-label">Sitter Picture</label>
            <img class="profile-picture" ng-src="{{user.picture || 'http://www.fillmurray.com/150/150'}}">
            <label class="control-label"> Image Url</label>
            <input type="text" class="form-control" ng-model="user.picture" />
          </div>

          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Sitter Name</label>
            <input type="text" class="form-control" ng-model="user.sitterName" />
          </div>

          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Sitter Description</label>
            <input type="text" class="form-control" ng-model="user.sitterDescription" />
          </div>

          <div class="form-group">
          </div>
          <button class="btn btn-lg btn-success">Update Information</button>
        </form>

      </div>
    </div>
  </div>

  <!-- User = !Sitter -->

  <div class="container profile-container">
    <div class="panel panel-default">
      <div class="panel-heading">Profile</div>
      <div class="panel-body">
        <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <label class="control-label">Profile Picture</label>
            <img class="profile-picture" ng-src="{{user.picture || 'http://www.fillmurray.com/150/150'}}">
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Name</label>
            <input type="text" class="form-control" ng-model="user.displayName" />
          </div>
          <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" ng-model="user.username" />
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-at"></i> Email Address</label>
            <input type="email" class="form-control" ng-model="user.email" />
          </div>
          <div class="form-group">
            <label class="control-label"> Phone</label>
            <input type="text" class="form-control" ng-model="user.phone" />
          </div>
          <div class="form-group">
            <label class="control-label"> Notes</label>
            <input type="text" class="ion-clipboard" ng-model="user.description" />
          </div>

          <button class="btn btn-lg btn-success">Update Information</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container profile-container">
    <div class="panel panel-default">
      <div class="panel-heading">Accounts</div>
      <div class="panel-body">
        <legend><i class="ion-link"></i> Linked Accounts</legend>

        <div class="btn-group-vertical">
          <button class="btn btn-lg btn-success" ng-click="deleteProfile(user.id)">Delete Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
